<div style="margin-top: 2em; margin-bottom: 2em; width: 100%"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Placa</th>
            <th scope="col">Dueño</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of carros">
            <th scope="row">{{ item.pk }}</th>
            <td>{{ item.placa }}</td>
            <td>{{ item.duenio }}</td>
            <td>{{ item.modelo }}</td>
            <td>{{ item.marca }}</td>
            <td>
              <div class="row">
                <div class="col-6" style="text-align: center !important; color: #4e79bf !important">
                    <i class="far fa-edit" (click)="editThisCar(item)"></i>
                </div>
                <div class="col-6" style="text-align: center !important; color: #f74545 !important">
                    <i class="far fa-trash-alt" (click)="deleteThisCar(item.pk)"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="margin-top: 3em; margin-bottom: 3em; width: 100%"></div>

<form [formGroup]="formGroup">
  <div class="container">
    <div class="row">
      
        <div class="col">
            <input type="text" class="form-control" placeholder="Placa" formControlName="placa">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Dueño" formControlName="duenio">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Modelo e.g: 2019" formControlName="modelo">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Marca" formControlName="marca">
        </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div style="margin-top: 3em; margin-bottom: 3em; width: 100%"></div>
      <button *ngIf="isNew" type="button" class="btn btn-success" [disabled]="!formGroup.valid" (click)="addThisCar()" style="margin: 0 auto !important">Registrar</button>
      <button *ngIf="isEdit" type="button" class="btn btn-primary" [disabled]="!formGroup.valid" (click)="saveUpdatedCar()" style="margin: 0 auto !important">Editar</button>
    </div>
  </div>
</form>


<style>
  table
  {
    -webkit-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.58);
    box-shadow: 0px 10px 16px -6px rgba(0,0,0,0.58);
  }

  i
  {
    cursor: pointer !important;
  }
</style>
<router-outlet></router-outlet>
